<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: 'Arial', sans-serif; line-height: 1.6; margin: 0 auto;
      width: 80%;} h1 { color: #333; } p { color: #555; }
    </style>
    <title>Privacy Policy</title>
  </head>
  <body>
    <h1>Privacy Policy</h1>

    <ul>
      <li>
        <strong>Introduction</strong>
        <p>Welcome to Active Family HQ. This privacy policy outlines our
          practices regarding the collection, use, and disclosure of your
          personal information when you use our app.</p>
      </li>

      <li>
        <strong>Information Collection and Use</strong>
        <p>To enhance your experience with Active Family HQ, we may require you
          to provide us with certain identifiable personal information,
          including:
          <ul>
            <li>Name</li>
            <li>Contact information (such as email address and phone number)</li>
            <li>Location data</li>
            <li>Health and fitness data</li>
            <li>Photos and Videos</li>
          </ul>
        </p>
      </li>

      <li>
        <strong>Data Collection Technology</strong>
        <p>We use tracking technologies such as activity trackers and location
          services to offer features like activity logging and real-time
          statistics within the Active Family HQ app.</p>
      </li>

      <li>
        <strong>Use of Data</strong>
        <p>Active Family HQ uses the data collected for various purposes:
          <ul>
            <li>To provide and maintain our app</li>
            <li>To notify you about changes to our services</li>
            <li>To enable participation in interactive features</li>
            <li>To provide customer care and support</li>
            <li>To provide analysis or valuable information to improve the app</li>
            <li>To monitor usage of the app</li>
            <li>To detect, prevent, and address technical issues</li>
          </ul>
        </p>
      </li>

      <!-- Continue with the rest of the sections... -->

      <li>
        <strong>Children's Privacy</strong>
        <p>Our app does not address anyone under the age of 13. We do not
          knowingly collect personally identifiable information from children
          under 13.</p>
      </li>

      <li>
        <strong>Changes to This Privacy Policy</strong>
        <p>We may update our Privacy Policy from time to time. We will notify
          you of any changes by posting the new Privacy Policy on this page.</p>
      </li>

      <li>
        <strong>Contact Us</strong>
        <p>If you have any questions about this Privacy Policy, please contact
          us:
          <ul>
            <li>By email: activefamilyhq@gmail.com</li>
          </ul>
        </p>
      </li>
    </ul>
  </body>
</html>