<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
</head>
<body>
    <p>Dear {{userName}},</p>
    <p>Welcome ! We're thrilled to have you on board. To complete your signup process, please click on following link!</p>
    <p>{{ link }}</p>
    <p>Please click this link to verify your email and activate your account. If you haven't signed up , please disregard this email.</p>
    <p>Thank you for choosing . If you have any questions or need assistance, feel free to contact our support team at @gmail.com.</p>
    <p>Best regards,</p>
    <p>Team</p>
</body>
</html>